@charset "utf-8";
.container{overflow:hidden;}
/*.login{width:92%;margin:15px auto;}*/
.login{width:86%;margin:15px auto;}
.login1{width:86%;margin:15px auto;text-align: center;}
.login form>p{border-bottom:1px solid #e1e1e1;}
.login .input{/*width:100%;*/width:80%;height:44px;font-size:15px;color:#999;margin-top:15px;padding:0 40px 0 22px;letter-spacing:2px;border: 0;}
.icon{width:16px;height:16px;position:absolute;z-index:1;top:30px;right:0;}
.icon-close{position:absolute;top:-40px;right:1%;z-index:10002;width:25px;height:25px;background:url(../img/icon-close1.png) no-repeat scroll center center / 100% auto;display:none;}
#sweetAlert{text-align: center;font-size: 18px;line-height: 30px;}
#confirm{width: 90%;font-size: 18px;border-radius: 10px;color: #fff;background: #4ad8d4;border: none;}
.icon-phone,.icon-pwd,.icon-yzm,.icon-code{left:0;}
.pwd-reset .icon-clear{right:32px;}
.clear-reset .icon{right:0;}
.pwd .icon-close-eye{display:block;}
.href-z-l{height:15px;font-size:15px;margin-top:25px;}
.href-z-l a{color:#999;}
.href-z-l a.l{color:#f4583f;}
.service-xy{font-size:12px;margin-top:25px;text-align:center;}
.service-xy a,.readly-login a{color:#f4583f;}
.readly-login{font-size:16px;margin-top:50px;text-align:center;}
/*验证码是否重发*/
.yzm .downTime{
	width:35%;
	height:1.8em;
	position:absolute;
	top:11px;
	z-index: 10;
	right:12px;
	font-size:12px;
	padding:0;
	text-align:center;
	background:#fff;
	color:#f4583f;
	border-left:1px solid #f4583f;
	border-bottom:0;
}
.yzm .icon-clear{right:34%;}
/*注册成功*/
.register-sc{height:100%;position:relative;z-index:100002;}
.register-sc .p-btn .pub-btn{line-height:40px;}
.register-sc img{width:72%;margin:26% auto 0;display:block;}
.p-btn{background:#fff;width:72%;height:44px;margin:0 auto;overflow:hideen;border-radius:0 0 5px 5px;}
.p-btn>a{display:block;width:100%;line-height:44px;text-align:center;color:#000;background:transparent;
box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;color:#F35842;font-weight:bold;}
/*.p-btn .b-l{border-right:1px solid #DDDDDD;color:#888888;}*/
.downapp { position: relative;text-align: center; }
.downapp .app { position: absolute;bottom: 20px;left: 50%;width: 66.7%;margin-left: -33.5%; }
#imgwx{background: #999 none repeat scroll 0 0;display: none; height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 19999;
}